.home-bg {
    background: url(../home/background-home-mobile.jpg) no-repeat center center fixed;
    background-size: cover;

    @include respond-to("md") {
        background-image: url(../home/background-home-tablet.jpg);
    }

    @include respond-to("lg") {
        background-image: url(../home/background-home-desktop.jpg);
    }
}

.destination-bg {
    background: url(../destination/background-destination-mobile.jpg) no-repeat center center fixed;
    background-size: cover;

    @include respond-to("md") {
        background-image: url(../destination/background-destination-tablet.jpg);
    }

    @include respond-to("lg") {
        background-image: url(../destination/background-destination-desktop.jpg);
    }
}

.crew-bg {
    background: url(../crew/background-crew-mobile.jpg) no-repeat center center fixed;
    background-size: cover;

    @include respond-to("md") {
        background-image: url(../crew/background-crew-tablet.jpg);
    }

    @include respond-to("lg") {
        background-image: url(../crew/background-crew-desktop.jpg);
    }
}

.tech-bg {
    background: url(../technology/background-technology-mobile.jpg) no-repeat center center fixed;
    background-size: cover;

    @include respond-to("md") {
        background-image: url(../technology/background-technology-tablet.jpg);
    }

    @include respond-to("lg") {
        background-image: url(../technology/background-technology-desktop.jpg);
    }
}
