.destination {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 1rem;
    color: $clr-light;
    font-family: $ff-sans-normal;
    line-height: 1.8em;
    letter-spacing: 1.2px;

    h1 {
        font-size: $fs-600;
        font-family: $ff-sans-cond;
        color: $clr-white;
        text-transform: uppercase;
        letter-spacing: 3.75px;

        span {
            margin-right: 0.5em;
            color: $clr-white / 2;
        }
    }

    img {
        max-width: 50%;
        margin-block: 2em;
    }

    .underline-buttons {
        button {
            cursor: pointer;
            padding: 0;
            border: 0;
            margin-inline: 10px;
            background-color: transparent;
            font-family: $ff-sans-cond;
            text-transform: uppercase;
            color: $clr-light;
            letter-spacing: 2.7px;
            transition: 250ms ease-in-out;

            &[aria-selected="true"] {
                border-bottom: 0.2rem solid $clr-white;
            }

            &:hover:not([aria-selected="true"]) {
                border-bottom: 0.2rem solid $clr-white / 2;
            }
        }
    }

    .destination-info {
        display: flex;
        flex-direction: column;
        text-align: center;

        h2 {
            padding-block: 2rem;
            font-family: $ff-serif;
            font-size: 3.5rem;
            text-transform: uppercase;
        }

        .destination-meta {
            flex-direction: column;
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            padding-top: 2rem;
            margin-top: 3rem;

            div {
                margin-bottom: 2rem;
            }

            h3 {
                font-family: $ff-sans-cond;
                text-transform: uppercase;
                color: $clr-light;
                letter-spacing: 2.7px;
                font-size: $fs-400;
            }

            p {
                font-size: 1.75rem;
                text-transform: uppercase;
                font-family: $ff-serif;
            }
        }
    }

    @include respond-to("md") {
        margin-top: 2rem;
        h1 {
            align-self: flex-start;
        }

        img {
            max-width: 40%;
        }

        .destination-info {
            h2 {
                font-size: 4.5rem;
                padding-block: 3rem;
            }

            > p {
                align-self: center;
                max-width: 78%;
            }

            h2 {
                font-size: 5.5rem;
            }

            .destination-meta {
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-content: space-around;
                margin-inline: 3rem;

                p {
                    margin-top: 1rem;
                }
            }
        }
    }

    @include respond-to("lg") {
        display: grid;
        justify-items: start;
        align-content: start;
        grid-template-columns: 60% 40%;
        grid-template-areas:
            "h1 buttons"
            "picture article";

        h1 {
            grid-area: h1;
            margin-left: 20%;
            font-size: $fs-700;
        }

        .underline-buttons {
            grid-area: buttons;
            margin-top: 15%;
        }

        .picture {
            grid-area: picture;
            max-width: 50%;
            margin-inline: auto;
            align-self: start;
        }

        .destination-info {
            grid-area: article;
            align-items: flex-start;
            text-align: left;

            > p {
                max-width: 80%;
                align-self: flex-start;
            }

            .destination-meta {
                margin-inline: 0;
                width: 85%;
                justify-content: space-between;
            }
        }
    }
}
