.destination {
    text-align: center;
    display: grid;
    place-items: center;
    padding-inline: 1rem;
    //padding-bottom: 4rem;
    color: $clr-light;
    font-family: $ff-sans-normal;
    line-height: 2em;
    letter-spacing: 1.2px;

    h1 {
        font-size: $fs-600;
        font-family: $ff-sans-cond;
        color: $clr-white;
        text-transform: uppercase;
        letter-spacing: 3.75px;

        span {
            margin-right: 0.5em;
            color: $clr-white / 2;
        }
    }

    img {
        max-width: 60%;
    }

    .underline-buttons {
        button {
            cursor: pointer;
            padding: 0;
            border: 0;
            margin-inline: 10px;
            background-color: transparent;
            font-family: $ff-sans-cond;
            text-transform: uppercase;
            color: $clr-light;
            letter-spacing: 2.7px;

            &[aria-selected="true"] {
                border-bottom: 0.2rem solid $clr-white;
            }

            &:hover {
                border-bottom: 0.2rem solid $clr-white / 2;
            }
        }
    }

    article {
        h2 {
            font-family: $ff-serif;
            font-size: $fs-800;
            text-transform: uppercase;
            margin-bottom: 30px;
        }
    }
}
