.primary-header {
  //display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30%;

  .logo {
    margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
  }

  @include respond-to("lg") {
    .logo {
      margin: 3.5rem clamp(1.5rem, 5vw, 3.5rem);
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 26%;
      height: 1px;
      background: $clr-white / 2;
      top: 80px;
      margin-left: 150px;
      z-index: 1333;
    }
  }
}