.tech-main {
    display: grid;
    justify-items: center;
    color: $clr-light;
    font-family: $ff-sans-normal;
    line-height: 1.8em;
    letter-spacing: 1.2px;

    grid-template-areas:
        "title"
        "img"
        "dots"
        "article";

    h1 {
        grid-area: title;
        font-size: $fs-600;
        font-family: $ff-sans-cond;
        color: $clr-white;
        text-transform: uppercase;
        letter-spacing: 3.75px;

        span {
            margin-right: 0.5em;
            color: $clr-white / 2;
        }
    }

    img {
        grid-area: img;
        max-width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    .circle-buttons {
        grid-area: dots;
        width: 100%;
        text-align: center;

        button {
            cursor: pointer;
            border: 1px solid rgba(255, 255, 255, 0.5);
            border-radius: 50%;
            padding: 0 1.5em;
            margin-inline: 0.5em;
            aspect-ratio: 1;
            background-color: none;

            /*&[aria-selected="true"] {
                background-color: $clr-white;
            }

            &:hover {
                background-color: $clr-white / 1;
            }*/
        }
    }

    .tech-details {
        display: flex;
        flex-direction: column;
        text-align: center;

        .tech-header {
            text-transform: uppercase;

            h2 {
                font-family: $ff-sans-cond;
                font-size: $fs-600;
                letter-spacing: 2px;
                color: $clr-light;
                margin-bottom: 10px;
            }

            p {
                font-family: $ff-serif;
                font-size: $fs-700;
                color: $clr-white;
            }
        }

        p {
            margin-top: 20px;
        }
    }

    @include respond-to("md") {
        margin-top: 30px;
        grid-template-areas:
            "title"
            "article"
            "dots"
            "img";

        > h1 {
            justify-self: flex-start;
        }

        img {
            border: none;
            margin-top: auto;
        }

        .crew-details {
            max-width: 70%;

            .crew-header {
                h2 {
                    font-size: $fs-700;
                    margin-top: 20px;
                }

                p {
                    font-size: 2.5rem;
                }
            }
        }
    }

    @include respond-to("lg") {
        margin-top: 30px;
        grid-template-areas:
            "title img"
            "article img"
            "dots img";
        justify-items: flex-start;

        > h1 {
            font-size: $fs-700;
            margin-left: 20%;
        }

        img {
            max-width: 80%;
        }

        .dot-indicators {
            text-align: left;
            margin-left: 20%;
        }

        .crew-details {
            text-align: left;
            margin-left: 20%;

            .crew-header {
                h2 {
                    font-size: $fs-700;
                    margin-top: 20px;
                }

                p {
                    font-size: 2.5rem;
                }
            }
        }
    }
}
