.tech-main {
    display: grid;
    justify-items: center;
    color: $clr-light;
    font-family: $ff-sans-normal;
    line-height: 1.8em;
    letter-spacing: 1.2px;

    grid-template-areas:
        "title"
        "img"
        "dots"
        "article";

    h1 {
        grid-area: title;
        font-size: $fs-600;
        font-family: $ff-sans-cond;
        color: $clr-white;
        text-transform: uppercase;
        letter-spacing: 3.75px;

        span {
            margin-right: 0.5em;
            color: $clr-white / 2;
        }
    }

    .img {
        grid-area: img;
        width: 100%;

        img {
            width: 100%;
        }
    }

    .circle-buttons {
        grid-area: dots;
        width: 100%;
        text-align: center;

        button {
            cursor: pointer;
            border: 1px solid rgba(255, 255, 255, 0.5);
            border-radius: 50%;
            padding: 0 1.2em;
            margin-inline: 0.5em;
            aspect-ratio: 1;
            color: $clr-white;
            background-color: transparent;
            font-family: $ff-serif;
            transition: 0.3s;

            &[aria-selected="true"] {
                background-color: $clr-white;
                color: #000000;
            }

            &:hover:not([aria-selected="true"]) {
                background-color: $clr-white / 1.5;
                color: #000000;
            }
        }
    }

    .tech-details {
        display: flex;
        flex-direction: column;
        text-align: center;

        .tech-header {
            text-transform: uppercase;

            h2 {
                font-family: $ff-sans-cond;
                font-size: $fs-600;
                letter-spacing: 2px;
                color: $clr-light;
                margin-bottom: 10px;
            }

            p {
                font-family: $ff-serif;
                font-size: $fs-700;
                color: $clr-white;
            }
        }

        p {
            margin-top: 20px;
            padding-inline: 30px;
        }
    }

    @include respond-to("md") {
        margin-top: 30px;

        > h1 {
            justify-self: flex-start;
            padding-inline: 1rem;
        }

        img {
            border: none;
            margin-top: auto;
        }

        .tech-details {
            max-width: 70%;

            .tech-header {
                h2 {
                    font-size: $fs-700;
                    margin-top: 20px;
                }

                p {
                    font-size: 2.5rem;
                }
            }
        }
    }

    @include respond-to("lg") {
        margin-top: 30px;
        margin-left: 10%;
        grid-template-areas:
            "title title title"
            "dots article img";
        justify-items: flex-start;

        > h1 {
            font-size: $fs-700;
        }

        img {
            max-width: 100%;
        }

        .circle-buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 40px;

            button {
                padding: 0 2em;
                margin-block: 10px;
            }
        }

        .tech-details {
            text-align: left;
            margin-left: 10%;
            margin-top: 30px;

            .tech-header {
                h2 {
                    font-size: $fs-600;
                    margin-top: 20px;
                }

                p {
                    font-size: 2.8rem;
                }
            }

            p {
                padding-inline: 0;
            }
        }
    }
}
